Cython==0.29.21
fortran-magic==0.7
gast==0.3.3
imageio==2.9.0
ipykernel==5.3.4
ipywidgets==7.5.1
julia==0.5.4
jupyter==1.0.0
jupyter-book==0.7.4
llvmlite==0.33.0
matplotlib==3.3.1
numba==0.50.1
numpy==1.19.1
Pillow==8.2.0
pythran==0.9.6
seaborn==0.10.1
tqdm==4.48.2
